<%- include("partials/header.ejs") %>


  <main>
    <article>

      <!-- 
      - #HERO
    -->

      <section class="section hero" style="background-image: url('/images/hero-bg.png')" aria-label="home">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle has-before" data-reveal="left">Welcome To MediConnect</p>

            <h1 class="headline-lg hero-title" data-reveal="left">
              Find Nearest <br>
              Doctor.
            </h1>


            <!-- <p class="title-lg card-text">
                Search doctors. clinics. hospitals. etc.
              </p> -->

            <!-- <div class="wrapper">

                <div class="input-wrapper title-lg">
                  <input type="text" name="location" placeholder="Locations" class="input-field">

                  <ion-icon name="location"></ion-icon>
                </div>

                <button class="btn has-before">
                  <ion-icon name="search"></ion-icon>

                  <span class="span title-md">Find Now</span>
                </button>

              </div> -->


          </div>

          <figure class="hero-banner" data-reveal="right">
            <img src="/images/hero-banner.png" width="590" height="517" loading="eager" alt="hero banner" class="w-100">
          </figure>

        </div>
      </section>





      <!-- 
      - #SERVICE
    -->

      <section class="service" aria-label="service">
        <div class="container">

          <ul class="service-list">

            <li>
              <div class="service-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="/images/icon-1.png" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <h3 class="headline-sm card-title">
                  <a href="#">Psychiatry</a>
                </h3>

                <p class="card-text">
                Individual Therapy, Medication Management, Group Counseling, Crisis Intervention
                </p>

              </div>
            </li>

            <li>
              <div class="service-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="/images/icon-2.png" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <h3 class="headline-sm card-title">
                  <a href="#">Gynecology</a>
                </h3>

                <p class="card-text">
                  Well-Woman Exams, Prenatal Care, Birth Control Counseling, STD Testing, Cancer Screenings
                </p>

              </div>
            </li>

            <li>
              <div class="service-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="/images/icon-3.png" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <h3 class="headline-sm card-title">
                  <a href="#">Pulmonology</a>
                </h3>

                <p class="card-text">
                  Breathing Tests, Chest X-Rays, Allergy Treatment, Inhalers, Nebulizers
                </p>

              </div>
            </li>

            <li>
              <div class="service-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="/images/icon-4.png" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <h3 class="headline-sm card-title">
                  <a href="#">Orthopedics</a>
                </h3>

                <p class="card-text">
                  Fracture Care, Joint Replacement, Physical Therapy, Sports Medicine, Pain Management
                </p>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
      - #ABOUT
    -->

      <section class="section about" aria-labelledby="about-label" id="sussy">
        <div class="container">

          <div class="about-content">

            <p class="section-subtitle title-lg has-after" id="about-label" data-reveal="left">About Us</p>

            <h2 class="headline-md" data-reveal="left">Experienced Workers</h2>

            <p class="section-text" data-reveal="left">
              We are a team of experienced workers who are dedicated to providing our clients with the best possible service. We have a wide range of skills and experience, and we are confident that we can meet your needs.  
            </p>
         
            <ul class="tab-list service1" data-reveal="left">

              <li>
                <button class="tab-btn active tom">Vision</button>
              </li>

              <li>
                <button class="tab-btn tom">Mission</button>
              </li>

              <li>
                <button class="tab-btn tom">Strategy</button>
              </li>

            </ul>
 

            <p class="tab-text tom1" data-reveal="left">
              Our vision is to be the leading provider of consultancy services in the world. We are committed to providing our clients with the highest quality of service, and we are constantly innovating to find new ways to improve our offerings.
            </p>

            <div class="wrapper">

              <ul class="about-list">

                <li class="about-item tick" data-reveal="left">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>

                  <span class="span spammer tick">Innovative technology solutions.</span>
                </li>

                <li class="about-item tick" data-reveal="left">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>

                  <span class="span spammer1 tick">Better future through technology.</span>
                </li>

                <li class="about-item tick" data-reveal="left">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>

                  <span class="span spammer2 tick">Inspire and empower people.</span>
                </li>

                <li class="about-item tick" data-reveal="left">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>

                  <span class="span spammer3 tick">Great place to work.</span>
                </li>

              </ul>

            </div>

          </div>

          <figure class="about-banner" data-reveal="right">
            <img src="/images/about-banner.png" width="554" height="678" loading="lazy" alt="about banner"
              class="w-100">
          </figure>

        </div>
      </section>





      <!-- 
      - #LISTING
    -->

      <section class="section listing" aria-labelledby="listing-label">
        <div class="container">

          <ul class="grid-list">

            <li>
              <p class="section-subtitle title-lg" id="listing-label" data-reveal="left">Doctors Listing</p>

              <h2 class="headline-md" data-reveal="left">Browse by specialist</h2>
            </li>

            <li>
              <div class="listing-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="/images/icon-1.png" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <div>
                  <h3 class="headline-sm card-title">Psychiatry</h3>

                  <p class="card-text">Mental Health</p>
                </div>

              </div>
            </li>

            <li>
              <div class="listing-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="/images/icon-2.png" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <div>
                  <h3 class="headline-sm card-title">Gynecology</h3>

                  <p class="card-text">Women's Health</p>
                </div>

              </div>
            </li>

            <li>
              <div class="listing-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="/images/icon-4.png" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <div>
                  <h3 class="headline-sm card-title">Pulmonology</h3>

                  <p class="card-text">Respiratory System</p>
                </div>

              </div>
            </li>

            <li>
              <div class="listing-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="/images/icon-5.png" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <div>
                  <h3 class="headline-sm card-title">Orthopedics</h3>

                  <p class="card-text">Bones & Joints</p>
                </div>

              </div>
            </li>

            <li>
              <div class="listing-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="/images/icon-6.png" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <div>
                  <h3 class="headline-sm card-title">Pediatrics</h3>

                  <p class="card-text">Child Health</p>
                </div>

              </div>
            </li>

            <li>
              <div class="listing-card" data-reveal="bottom">

                <div class="card-icon">
                  <img src="/images/icon-7.png" width="71" height="71" loading="lazy" alt="icon">
                </div>

                <div>
                  <h3 class="headline-sm card-title">Osteology</h3>

                  <p class="card-text">Ear, Nose, Throat</p>
                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
      - #BLOG
    -->

      <section class="section blog" id="blogy" aria-labelledby="blog-label">
        <div class="container">

          <p class="section-subtitle title-lg text-center" id="blog-label" data-reveal="bottom">
           <a href="https://mediconnectblog.onrender.com/">News & Article</a> 
          </p>

          <h2 class="section-title headline-md text-center" data-reveal="bottom"><a href="https://mediconnectblog.onrender.com/">Latest Articles</a></h2>

          <ul class="grid-list">

            <li>
              <div class="blog-card has-before has-after fasting" data-reveal="bottom">

                <div class="meta-wrapper">

                  <div class="card-meta">
                    <ion-icon name="person-outline"></ion-icon>

                    <span class="span">By Admin</span>
                  </div>

                  <div class="card-meta">
                    <ion-icon name="folder-outline"></ion-icon>

                    <span class="span">Specialist</span>
                  </div>

                </div>

                <h3 class="headline-sm card-title">Exploring Intermittent Fasting: Could It Reduce Breast Cancer Risk?  </h3>

                <time class="title-sm date" datetime="2022-01-28">28 January, 2022</time>

                <p class="card-text">
                  Intermittent fasting has garnered attention for its potential health benefits, but could it extend to combating serious diseases like...
                </p>

                <a href="https://mediconnectblog.onrender.com/view/0" class="btn-text title-lg">Read More</a>

              </div>
            </li>

            <li>
              <div class="blog-card has-before has-after autonomy" data-reveal="bottom">

                <div class="meta-wrapper">

                  <div class="card-meta">
                    <ion-icon name="person-outline"></ion-icon>

                    <span class="span">By Admin</span>
                  </div>

                  <div class="card-meta">
                    <ion-icon name="folder-outline"></ion-icon>

                    <span class="span">Specialist</span>
                  </div>

                </div>

                <h3 class="headline-sm card-title">Why Autonomy is Crucial During the Pandemic</h3>

                <time class="title-sm date" datetime="2022-01-28">28 January, 2022</time>

                <p class="card-text">
                  Mental Well-being: The pandemic disrupted routines and social connections. A sense of control through greater autonomy helps children develop coping   ...
                </p>

                <a href="https://mediconnectblog.onrender.com/view/1" class="btn-text title-lg">Read More</a>

              </div>
            </li>

            <li>
              <div class="blog-card has-before has-after binge" data-reveal="bottom">

                <div class="meta-wrapper">

                  <div class="card-meta">
                    <ion-icon name="person-outline"></ion-icon>

                    <span class="span">By Admin</span>
                  </div>

                  <div class="card-meta">
                    <ion-icon name="folder-outline"></ion-icon>

                    <span class="span">Specialist</span>
                  </div>

                </div>

                <h3 class="headline-sm card-title">How Binge Eating and Drinking Harm Your Liver</h3>

                <time class="title-sm date" datetime="2022-01-28">28 January, 2022</time>

                <p class="card-text">
                  The liver is an extraordinary powerhouse, working to filter toxins, process nutrients, and support overall health. However, habits like binge eating and excessive alcohol...
                </p>

                <a href="https://mediconnectblog.onrender.com/view/2" class="btn-text title-lg">Read More</a>

              </div>
            </li>

          </ul>

        </div>
      </section>

    </article>
  </main>








  <%- include("partials/footer.ejs") %>