<%- include("partials/header.ejs") %>




<div class="px-4 py-5 my-5 text-center">
     <img class="d-block mx-auto mb-4" src="/styles/doc_consult.jpg" alt="" height="200px">

     <h1 class="display-5 fw-bold text-body-emphasis">Remote Healthcare at Your Fingertips</h1>
     <div class="col-lg-6 mx-auto">
       <p class="lead mb-4">Experience convenient and secure online consultations with qualified doctors, from the comfort of your home.</p>
       <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
         <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Schedule Appointment</button>
         <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button> -->
       </div>
     </div>
   </div>

<%- include("partials/footer.ejs") %>